{%  extends 'courier/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Companies</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Companies</th>

						</tr>
                        {% for i in companys %}
                        <tr>
                            <td> {{ i.name }}</td>

                        </tr>
                        {% endfor %}

					</table>
				</div>
			</div>

		</div>

{% endblock content %}