{% load static %}
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}" />

</head>
<!------ Include the above in your HEAD tag ---------->

<body>
{% include 'courier/messages.html' %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img class="profile-pic" src="{% static 'images/login2.jpg' %}"  alt="Courier Services" />
    </div>

    <!-- Login Form -->
    <form method="POST" action="">
        {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Enter the Room_No">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter your password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'reset_password' %}">Forgot Password?</a>
    </div>

  </div>
</div>
<script>
    setTimeout(function () {
        if ($('#msg').length>0){
            $('#msg').remove();
        }
    },3000)
</script>
</body>
</html>